# Run helper every time a Bluetooth device appears
# On remove actions, bluetoothd should go away by itself
ACTION=="add", SUBSYSTEM=="bluetooth", RUN+="//sbin/bluetoothd --udev"
ACTION=="change", SUBSYSTEM=="bluetooth", RUN+="//sbin/bluetoothd --udev"
